img {
  max-width: 100%;
}

body {
  background-color: #000066;
  line-height: 1.5;
  font-size: 100%;
  color: white;
}

article {
  margin: 0 2.5%;
  padding: 2% 0;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}


/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}

/*copied from codefellows lab 03 started code continuing to adapt as needed*/
